<!-- Footer section -->
<footer class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-7 order-lg-2">
          <div class="row">
            <div class="col-sm-4">
              <div class="footer-widget">
                <h2>Header 1</h2>
                <ul>
                  <li><a routerLink="/menu">Menu</a></li>
                  <li><a [routerLink]="[]" (click)="onSignUp()">Sign Up</a></li>
                  <li><a [routerLink]="[]" (click)="onSignIn()">Sign In</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="footer-widget">
                <h2>Header 2</h2>
                <ul>
                  <li><a [routerLink]="[]" (click)="onFormAddress()">Form Address</a></li>
                  <li><a [routerLink]="[]" (click)="onSelectAddress()">Select Address</a></li>
                  <li><a [routerLink]="[]" (click)="onBillingDetails()">Billing Details</a></li>
                  <li><a [routerLink]="[]" (click)="onSchedule()">Schedule</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="footer-widget">
                <h2>Header 3</h2>
                <ul>
                  <li><a href="">Item 1</a></li>
                  <li><a href="">Item 2</a></li>
                  <li><a href="">Item 3</a></li>
                  <li><a href="">Item 4</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5 order-lg-1">
          <img src="assets/images/backgrounds/logo-reversed.svg" >
          <div class="copyright" style="color: #ddd;"> Achref | Copyright &copy; {{ year }} </div>
          <div class="social-links">
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-pinterest"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer section end -->
